/* Fonts and Base Styles */
body {
  font-family: "Halant", sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* Color Palette */
:root {
  --blue-primary: #02acce;
  --yellow: #fdcb3b;
  --cream: #fde7a9;
  --blue-accent: #28adce;
  --orange: #fa8b46;
  --background: #fa8b46;;
  --text: #1a1a1a;
  --card-background:#02acce;
}

/* Navbar */
.navbar {
  background-color: var(--blue-primary) !important;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-family: "Hachi Maru Pop", cursive;
  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  align-items: center;
}

.navbar-brand:hover {
  color: var(--yellow);
}

.nav-link {
  color: white !important;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.nav-link:hover {
  color: var(--yellow) !important;
}

.logo-img {
  height: 30px;
  width: auto;
  margin-right: 0.5rem;
}


h1,
h2,
h3 {
  font-family: "Hachi Maru Pop", cursive;
  color: var(--blue-accent);
}

/*Hero image*/ 

/* Hero Image */
.hero-image {
  background-image: url('../images/hero-image23.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  background-color:var(--background);
  border-radius: 1rem; 
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  .hero-image {
    min-height: 60vh;
  }
}

/* Small screens (phones) */
@media (max-width: 576px) {
  .hero-image {
    min-height: 40vh;
  }
}


/* Buttons */
.btn-primary {
  background-color: var(--orange);
  border: 1px;
}

.btn-primary:hover {
  background-color: var(--yellow);
  color: var(--orange);
}

/*main section*/

/*  Card hover effect */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  border: none; 
  background-color:var(--card-background);
}



/* Uniform styling for card text */
.card-body p {
  font-size: 1rem; 
  line-height: 1.6; 
  margin-bottom: 15px;
  text-align: justify; 
  color: var(--cream);
  font-weight: 300;
}

/* Title styling for consistency */
.card-body h2 {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--yellow);
}

.card:hover {
  transform: translateY(-8px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

/*Wrapper with side paddings */
.custom-wrapper {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
}

/*wrapper with side paddings for larger screens*/

@media (min-width: 1200px) {
  .custom-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vh;
  }
}

/* Responsive Design */
@media (min-width: 768px) {
  .navbar-brand {
    font-size: clamp(0.5rem, 2vw);
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }

  .logo-img {
    height: 40px;
  }
}

@media (max-width: 767.98px) {
  .navbar-brand {
    font-size: 1rem;
    width: 40%;
  }

  .nav-link {
    font-size: 0.95rem;
  }
  #button {
    padding: 0%;
  }

  .logo-img {
    height: 36px;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    margin: 0 auto;
    white-space: normal;
    text-align: center;
    font-size: 0.8rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .logo-img {
    height: 30px;
  }
}
